
// Color palette
$brown: #6d4947;
$brownDark: #3d2a28;
$red: #E54D4D;
$redDark: #c02929;
$orange: #F5926E;
$orangeDark: #e67349;
$pink: #FF9DA4;
$pinkDark: #ff6c76;
$yellow: #FFE572;
$yellowDark: #ffd728;
$mint: #62D8BD;
$mintDark: #3c9984;
$gray: #e1e1e1;
$grayDark: #a99a9a;


// Componentes básicos
header{
    background-color: $brown;
}

footer{
    background-color: $brown;
}

a{
    color: $orange;
    font-weight: bold;
    transition-duration: 0.4s;
    text-decoration: none;
}

a:hover{
    color: $mint;
}

i{
    font-size: xx-large;
    color: white;
    transition-duration: 0.4s;
}

i:hover{
    color: $mint;
}

select:hover{
    background-color: $mint;
    color: white;
    font-weight: bold;
}

select::after{
    background-color: $mint;
    color: white;
    font-weight: bold;
}

option{
    background-color: white;
    color: $brown;
}

// Botones
.buttonCustom{
    color: white;
    border-radius: 8px;
    border-style: none;
    padding: 10px 24px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    height: max-content;
}

.buttonOrange{
    background-color: $orange;
}

.buttonOrange:hover{
    background-color: $orangeDark;
    color: white;
}

.buttonMint{
    background-color: $mint;
}

.buttonMint:hover{
    background-color: $mintDark;
    color: white;
}

.buttonRed{
    background-color: $red;
    color: white;
}

.buttonRed:hover{
    background-color: $redDark;
    color: white;
}

.buttonPink{
    background-color: $pink;
    color: white;
}

.buttonPink:hover{
    background-color: $pinkDark;
    color: white;
}

.buttonYellow{
    background-color: $yellow;
    margin-left: 30px;
    color: white;
}

.buttonYellow:hover{
    background-color: $yellowDark;
    color: white;
}

.buttonBrown{
    background-color: $brown;
    color: white;
}

.buttonBrown:hover{
    background-color: $brownDark;
    color: white;
}

.buttonBrown:disabled {
    opacity: 70%;
}

.buttonMenu{
    background-color: $orange;
}

.navbar-dark .navbar-toggler {
    color: $orangeDark;
}

// Fondos
.bgLearn{
    background-color: $orange;
    border-radius: 10px;
    padding: 2em;
    color: white;
}
.bgLearn2{
    background-color: white;
    border-radius: 10px;
    color: $brown;
}
.bgLearn3{
    background-color: $gray !important;
    padding: 2em;
    border-radius: 10px;
    color: white !important;
}
.bgLearn4{
    background-color: $red !important;
    padding: 2em;
    border-radius: 10px;
    color: white !important;
}


// Barra indicadora header
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: $mint;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: $mintDark;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: $mint;
    border-bottom-color: $mint;
}

.selectedPlace > i{
    color: $mint !important;
}

// Footer
.socialMedia{
    color: $orange;
    transition-duration: 0.4s;
}

// Perfil
.imgProfile{
    border-radius: 20px;
    border: 10px solid $brown;
}

@media (max-width:390px){
    .imgProfile{
        border-radius: 20px;
        border: 10px solid $brown;
        width: -webkit-fill-available;
    }
}

.boderProfile{
    border-radius: 20px;
    border: 10px solid white;
}

// Mundos
.card{
    border: none;
    background-color: transparent;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    color: white;
    background-color: rgb(98 216 189);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header:first-child {
    background-color: $mint;
    color: white;
    border-radius: 21px 21px 0 0;
}

.card-body {
    background-color: $orange;
    color: white;
    border-radius: 0 0 21px 21px;
}

.textBrown {
    color: $brown;
}

// Test

.responseTest {
    background-color: $pink;
    color: white;
    border-radius: 21px 21px 0 0;
}

.modal-body {
    background-color: $brown!important;
    color: white;
}

.modal-header{
    background-color: $orange !important;
    color: white;
}

